services:
  database:
    image: mariadb:10.11
    environment:
      MARIADB_ROOT_PASSWORD: "${MARIADB_ROOT_PASSWORD}"
      MARIADB_DATABASE: "${MARIADB_DATABASE}"
      MARIADB_USER: "${MARIADB_USER}"
      MARIADB_PASSWORD: "${MARIADB_PASSWORD}"
    volumes:
      - ./backend/db:/docker-entrypoint-initdb.d:ro 
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-uroot", "-proot", "--silent"]
      interval: 5s
      timeout: 3s
      retries: 60
      start_period: 60s
    restart: unless-stopped
  backend:
    env_file:
    - .env
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DB_HOST: "${DB_HOST}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_NAME: "${DB_NAME}"
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"
    depends_on:
      database:
        condition: service_healthy
  frontend:
    env_file:
    - .env
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge

volumes:
  db_data: